<template name="header">
  <header>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Cincinnati Road Activity</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Contact</a></li>
                {{#if currentUser}}
                  <li><a href="/dashboard">Dashboard</a></li>
                  <li><a href="/analyze">Analyze</a></li>
                  <li><a href="/roadsTravelled">Your Roads</a></li>
                  <li><a href="/sign-out">Sign Out</a></li>
                {{else}}
                  <li><a href="/sign-in">Sign In</a></li>
                  <li><a href="/sign-up">Sign Up</a></li>
                {{/if}}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {{#if currentUser}}
                  <li><a href="/">{{meteorUser}}</a></li>
                  <li><a href="/"></a></li>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>