<template name="roadsTravelled">
  <div class="container">

    <div class="page-header">
      <h1>Roads Travelled</h1>
      <div class="page-header-actions">
        <button class="btn btn-default open-modal" data-toggle="modal" data-target="#addRoad"><i class="fa fa-edit"></i> Add Road</button>
        <button class="btn btn-default open-modal pull-right" data-toggle="modal" data-target="#subscriptionSettings"><i class="fa fa-edit"></i> Settings</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table" id="roadsTravelledTable">
          <tr class="border_bot">
            <th>Road</th>
            <th>Days</th> 
            <th>Mile Start</th>
            <th>Mile End</th> 
            <th>Time Start</th>
            <th>Time End</th>
            <th></th>
          </tr>
          {{#each roadInfo}}
            <tr>
              <td>{{road}}</td>
              <td>{{days}}</td>
              <td>{{startMile}}</td>
              <td>{{endMile}}</td>
              <td>{{startTime_display}}</td>
              <td>{{endTime_display}}</td>
              <td>
                <button class="btn btn-default open-modal openEditRoadModal" data-toggle="modal" target="#editRoad" data-id="{{_id}}"><i class="fa fa-edit"></i> Edit</button>
                <button class="btn btn-default deleteRoad" id="{{_id}}"><i class="fa fa-trash-o"></i> Delete</button>
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>

  {{> addRoad}}
  {{> editRoad}}
  {{> subscriptionSettings}}

</template>