<template name="dashboard">
	<div class="container-fluid">
		<div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <button type="button" id="importData" class="importData btn btn-primary">Import Data</button>
      </div>
      <div class="col-md-2">
        <button type="button" id="filterToday" class="filterToday btn btn-primary">Filter Today</button>
      </div>
      <div class="col-md-2">
        <button type="button" id="allData" class="allData btn btn-primary">All Data</button>
      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="row"><br><br></div>
    <div class="row">
      <div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row"></div>
				<div class="row">
					<table class="table">
  					<tr class="border_bot">
  						{{#each headers}}
  							<th>{{this}}</th>
  						{{/each}}
  					</tr>
  					{{#each roadActivity}}
              <tr>
  							<td>{{Category}}</td>
  							<td>{{Status}}</td>
  							<td>{{Direction}}</td>
  							<td>{{Road}}</td>
  							<td>{{ActivityStartDateTime}}</td>
  							<td>{{ActivityEndDateTime}}</td>
  							<td>{{StartMileDescription}}</td>
  							<td>{{EndMileDescription}}</td>
              </tr>
              <tr></tr>
              <tr class="border_bottom spaceUnder">
                <td></td>
                <td colspan="9">{{Description}}</td>
              </tr>
  					{{/each}}
					</table>
				</div>
			</div>
      <div class="col-md-1"></div>
		</div>
	</div>
</template>
