<template name="dashboard">
	<div class="container-fluid">
		<div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <button type="button" id="importData" class="importData btn btn-primary">Import Data</button>
      </div>
      <div class="dropdown col-md-2">
        <label>Category</label>
        <select id="categoryType">
          <option value="all" selected="selected">All</option>
          {{#each eachCategory}}
            <option value="{{type}}">{{type}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-2">
        <label>Start Date</label>
        <input type="text" id="startDatepicker">
      </div>
      <div class="col-md-2">
        <label>End Date</label>
        <input type="text" id="endDatepicker">
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row"><br><br></div>
    <div class="row">
      <div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row"></div>
				<div class="row">
					<table class="table">
  					<tr class="border_bot">
  						{{#each headers}}
  							<th>{{this}}</th>
  						{{/each}}
  					</tr>
  					{{#each roadActivity}}
              <tr>
  							<td>{{Category}}</td>
  							<td>{{Status}}</td>
  							<td>{{Direction}}</td>
  							<td>{{Road}}</td>
  							<td>{{ActivityStartDate}} {{ActivityStartTime}}</td>
  							<td>{{ActivityEndDate}} {{ActivityEndTime}}</td>
  							<td>{{StartMileDescription}}</td>
  							<td>{{EndMileDescription}}</td>
              </tr>
              <tr><br></tr>
              <tr class="border_bottom spaceUnder">
                <td></td>
                <td colspan="9">{{Description}}</td>
              </tr>
  					{{/each}}
					</table>
				</div>
			</div>
      <div class="col-md-1"></div>
		</div>
	</div>
</template>
